{{- $dir := .Get "dir" | strings.TrimPrefix "/" -}}
{{- $images := readDir (printf "static/%s" $dir) -}}

<div class="carousel">
    <div class="carousel-track">
        {{ range sort $images "Name" }}
            {{ if not .IsDir }}
                <div class="carousel-slide">
                    <img
                        src="{{ printf "%s/%s" $dir .Name | relURL }}"
                        loading="lazy"
                        alt="{{ .Name }}">
                </div>
            {{ end }}
        {{ end }}
    </div>

    <button class="carousel-btn prev" aria-label="Previous image">
        &#10094;
    </button>

    <button class="carousel-btn next" aria-label="Next image">
        &#10095;
    </button>

    <div class="carousel-dots"></div>
</div>